{% extends 'master.html' %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <h2>Customer details for: {{ user.names | upper }}</h2>
                <h5>Email is: {{ user.email | lower}}</h5>
                <h5>Phone number is: {{ user.phone  }}</h5>
                <h5>Weight is: {{ user.weight }}Kg</h5>
                <h5>Height is: {{ user.height }}cm</h5>
                <h5>Gender is: {{ user.gender |capfirst }}</h5>
                {% if user.pic %}
                    <img width="100%" src="{{ user.pic.url }}" alt="">
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

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